body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: aqua;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.background-img{
    width: 100%;
	height: 100%;
	position: absolute;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: absolute;
    background-position: center;
}

.button{
    border: #343a40 1px solid;
    border-radius:0px;
    background-color:rgba(255, 255, 255, 0);
    font-family: Lato-Light;
    text-transform: uppercase;
}

.button:hover{
    background-color: #252925;
    color: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}