.figure{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
}

.primary{
    text-transform: uppercase;
    /* max-width: 33.333333%; */
    font-family: Lato-Light;
}

.primary h1{
    font-size: 3.7rem;
    line-height: 1.0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.figure.blue{
    background-color: rgba(212, 224, 224, 0.9);
}