.section-1{
    padding-top: 4rem;
    padding-bottom: 10rem;
}
.section-2{
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.section-3{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section-form{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
}
.figure-top{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -49%;
}

.figure-top.relative{
    position: relative !important;
}

.figure-top div{
    display: block;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.5em;

    border-top-left-radius: 230px;
    border-top-right-radius: 230px;

    padding-top: 2.6rem;
    padding-bottom: 1rem;

    padding-left: 2.2rem;
    padding-right: 2.2rem;    
}
.figure-top div span{
    font-weight: normal;
    font-size: 0.8rem;
}
.figure-top div h3{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
    margin: 0px;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.primary{
    color: #212529;
    text-transform: uppercase;
    width: 33%;
    font-family: 'Nanum Myeongjo', serif;

    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.primary h1{
    font-size: 3.6rem;
    line-height: 1.0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem; 
}
.primary h1 b{
    font-family: 'Nanum Myeongjo', serif;
}

.primary span{
    margin-bottom: 2rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.secondary{
    color: #212529;
    font-family: 'Lato', sans-serif;
    width: 10rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}
.secondary h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0.6em;
}
.secondary span{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    word-spacing: 0.1em;
    margin-top: 0.5em;
}
.secondary hr{
    border: 0.01rem solid rgb(78, 78, 78);
    width: 70%;
}

.circle{
    width: 250px;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #212529;

    text-align: center;
    margin-bottom: 5rem;
}
.circle h2{
    font-weight: normal;
    padding-top: 1px;
    word-spacing: 0.5em;
    font-family: 'Cormorant Upright', serif;
}

.paragraph{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    word-spacing: 0.5em;
    width: 34rem;
}

.container-img-1{
    width: 24rem;
    height: 35rem;
}
.container-img-1 img{
    width: 100%;
    height: 100%;
}

.pink{
    background-color: rgba(242, 225, 211, 0.9);
}
.blue{
    background-color: rgba(212, 224, 224, 0.9);
}
.brown{
    background-color: rgba(175, 85, 50, 0.9);
}
.green{
    background-color: rgba(112, 107, 78, 0.9);
}
.white{
    background-color: rgb(249, 246, 239);
}

@media (max-width: 820px) {
    .section-3{
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
    .primary{
        width: 50%;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .primary h1{
        font-size: 3.4rem;
    }

    .secondary{

        width: 6rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .secondary h3{
        font-size: 1rem;
    }
    .secondary span{
        font-size: 0.7rem;
    }

    .container-img-1{
        width: 15rem;
        height: 25rem;
    }
    .paragraph{
        font-size: 1.2rem;
        word-spacing: 0.1em;
        width: 26rem;
    }
}

@media (max-width: 576px) {
    .section-1{
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
    .section-2{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .circle{
        width: 260px;
        height: 80px;
    
        margin-bottom: 3rem;
    }
    .circle h2{
        font-size: 1.8rem;
        font-weight: normal;
        padding-top: 0%;
        word-spacing: 0.3em;
        /* margin-top: 5px;
        margin-bottom: 0px; */
    }
    
    .primary{
        width: 15rem;

        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
    
    .primary h1{
        font-size: 2.3rem;
        line-height: 1.0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    
    .primary span{
        font-size: 0.6rem;
        margin-bottom: 2rem;
        line-height: 1.5;
    }
    .secondary{
        width: 15rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-bottom: 2rem;
    }
    .secondary h3{
        font-size: 1.2rem;
        margin-bottom: 1em;

    }
    .secondary span{
        max-width: 70%;
        font-size: 1.2rem;
    }
    .container-img-1{
        width: 9rem;
        height: 15rem;
    }
    .paragraph{
        font-size: 0.9rem;
        word-spacing: 0.1rem;
        width: 14rem;
    }
}

@media (max-width: 360px) {
    /* .secondary{
        width: 4.7rem;
        padding-top: 1.4rem;
        padding-bottom: 1.1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    } */

    /* .secondary span{
        font-size: 0.5rem;
    } */
}